#about {
  text-align: center;
  position: relative;
  height: 100%;
  .content {
    width: 90%;
    margin: 0 auto;
    color: #dddee0;
    background-color: #343a3d;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', 'sans-serif', 宋体, 楷体;
    padding: 20px;
    position: relative;
    height: 100%;
  }
}
