.posts {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    height: 100%;
    background-color: #343a3d;
    .el-divider {
        background-color: #545c6d;
        margin: 12px 0;
        height: 2px;
        border-radius: 1px;
    }
}
