.post {
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  height: 100%;
  background-color: #343a3d;
  font-family: 'Times New Roman', 'sans-serif', 宋体, 楷体;

  .title {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  }

  .stuff {
    font-size: 12px;
    transform-origin: bottom;
    transform: scale(0.8);
    text-align: center;

    span {
      margin: 0 10px;
    }
  }

  .content {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Hiragino Sans GB, MicroSoft YaHei, Helvetica Neue, Helvetica, sans-serif;
    white-space: inherit;
    overflow: hidden;
    text-align: left;

    ::v-deep a {
      color: bisque;
    }

    ::v-deep p > code {
      color: #ccc;
      background-color: #4c4c4c;
      font-size: 1em;
      text-align: left;
      line-height: 1.5em;
      hyphens: none;
    }

    ::v-deep pre > code {
      white-space: pre-wrap;
    }
  }
}
