.post {
  width: 85%;
  margin: 0 auto;
  padding-top: 10px;
  height: 100%;
  background-color: #343a3d;
  font-family: 'Times New Roman', 'sans-serif', 宋体, 楷体;

  .title {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin: 20px auto;
  }

  .stuff {
    font-size: 12px;
    transform-origin: bottom;
    transform: scale(0.8);
    text-align: center;

    span {
      margin: 0 10px;
    }
  }

  .content {
    padding: 20px;
    font-size: 16px;
    font-family: Hiragino Sans GB, MicroSoft YaHei, Helvetica Neue, Helvetica, sans-serif;
    white-space: inherit;
    overflow: hidden;
    text-align: left;
    line-height: 1.75em;

    div > :not(aa) {
      margin-top: 1em;
    }

    ::v-deep a {
      color: bisque;
    }

    ::v-deep :not(pre) > code {
      color: #ccc;
      background-color: #4e4e4e;
      font-size: 0.8em;
      text-align: left;
      padding: 0.2em;
      margin: 0 0.2em;
      line-height: 1.75em;
      hyphens: none;
    }

    ::v-deep pre > code {
      //white-space: nowrap;
    }
    ::v-deep pre:not([class*=' language-']) {
      background-color: #4a5053;
      padding: 0 20px;
    }
  }
}
